@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@layer base {
  body {
    background-color: black;
    color: white;
    font-family: var(--font-sans);
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-purple-400 to-orange-400;
  }

  .glow-text {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  }
}